---
const today = new Date();
---

<footer class="text-xs">
	&copy; {today.getFullYear()} AngkorSankranta. All rights reserved. Design & Develop by<span ><a class="text-orange-400 hover:text-orange-700" href="http://facebook.com/vicheanorm" target="_blank" rel="noopener noreferrer">{" "}Vichea Norm</a></span>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
