---
const { title } = Astro.props;
const { description } = Astro.props;
const { urlImg } = Astro.props;
---

<div class="flex justify-center">
  <div
    class="relative z-20 flex items-center overflow-hidden bg-white py-10 max-w-7xl"
  >
    <div class="container relative flex px-6 mx-auto">
      <div class="relative z-20 flex flex-col sm:w-2/3 lg:w-2/5 mr-10">
        <span class="w-20 h-2 mb-12 bg-teal-500"></span>
        <h1
          class="flex flex-col text-3xl font-semibold leading-none text-teal-500 uppercase font-bebas-neue md:text-2xl"
        >
          {title}
        </h1>
        <p class="text-sm text-gray-500 sm:text-base pt-6">
          {description}
        </p>
        <div class="space-x-10 py-6">
          <button class="py-3 px-12 rounded-md bg-orange-400 text-white"
            >អានបន្ថែម</button
          >
          <button
            class="py-3 px-12 rounded-md border border-orange-400 text-orange-500"
            >អានបន្ថែម</button
          >
        </div>
      </div>
      <div class="relative hidden sm:block sm:w-1/3 lg:w-3/5">
        <img src={urlImg} class="max-w-full m-auto md:max-w-3xl" />
      </div>
    </div>
  </div>
</div>
