---


---

<div class="">
    <h1 class="pt-14 pb-8 text-4xl md:text-6xl font-medium text-teal-500 text-center"> កម្មវិធីនៃ អង្គរសង្គ្រាន ១០ឆ្នាំ</h1>
    <div class="flex justify-center pt-10">
        <div class="grid-cols-1 md:grid-cols-2 lg:grid-cols-3 grid gap-10 max-w-7xl patten-right">
            <div class="max-w-xl border py-6 rounded-md">
                <center>
                    <img src="/assets/artwork-1.png" alt=""​ width="180" class="py-6">
                    <h5 class="text-orange-500 text-xl font-semibold pb-3">
                        ឈ្មោះកម្មវិធី
                    </h5>
                    <p class="text-gray-500 px-4">
                        បុណ្យចូលឆ្នាំប្រពៃណីខ្មែរយើងនឹងឈានចូលមកដល់នៅពេលខាងមុខនេះ ពោលនៅថ្ងៃទី១៤-១៦ ខែមេសា ឆ្នាំ២០១៨។ បើតាមការឱ្យដឹងពីលោក សុខ សប្បាយណា ប្រធានលេខាធិការដ្ឋាន ក្រុមប្រតិបត្តិ នៃព្រឹត្តិការណ៍អង្គរសង្ក្រាន្ដ។
                    </p>
                </center>
            </div>
            <div class="max-w-xl border py-6 rounded-md">
                <center>
                    <img src="/assets/artwork-1.png" alt=""​ width="180" class="py-6">
                    <h5 class="text-orange-500 text-xl font-semibold pb-3">
                        ឈ្មោះកម្មវិធី
                    </h5>
                    <p class="text-gray-500 px-4">
                        បុណ្យចូលឆ្នាំប្រពៃណីខ្មែរយើងនឹងឈានចូលមកដល់នៅពេលខាងមុខនេះ ពោលនៅថ្ងៃទី១៤-១៦ ខែមេសា ឆ្នាំ២០១៨។ បើតាមការឱ្យដឹងពីលោក សុខ សប្បាយណា ប្រធានលេខាធិការដ្ឋាន ក្រុមប្រតិបត្តិ នៃព្រឹត្តិការណ៍អង្គរសង្ក្រាន្ដ។
                    </p>
                </center>
            </div>
            <div class="max-w-xl border py-6 rounded-md">
                <center>
                    <img src="/assets/artwork-1.png" alt=""​ width="180" class="py-6">
                    <h5 class="text-orange-500 text-xl font-semibold pb-3">
                        ឈ្មោះកម្មវិធី
                    </h5>
                    <p class="text-gray-500 px-4">
                        បុណ្យចូលឆ្នាំប្រពៃណីខ្មែរយើងនឹងឈានចូលមកដល់នៅពេលខាងមុខនេះ ពោលនៅថ្ងៃទី១៤-១៦ ខែមេសា ឆ្នាំ២០១៨។ បើតាមការឱ្យដឹងពីលោក សុខ សប្បាយណា ប្រធានលេខាធិការដ្ឋាន ក្រុមប្រតិបត្តិ នៃព្រឹត្តិការណ៍អង្គរសង្ក្រាន្ដ។
                    </p>
                </center>
            </div>
            <div class="max-w-xl border py-6 rounded-md">
                <center>
                    <img src="/assets/artwork-1.png" alt=""​ width="180" class="py-6">
                    <h5 class="text-orange-500 text-xl font-semibold pb-3">
                        ឈ្មោះកម្មវិធី
                    </h5>
                    <p class="text-gray-500 px-4">
                        បុណ្យចូលឆ្នាំប្រពៃណីខ្មែរយើងនឹងឈានចូលមកដល់នៅពេលខាងមុខនេះ ពោលនៅថ្ងៃទី១៤-១៦ ខែមេសា ឆ្នាំ២០១៨។ បើតាមការឱ្យដឹងពីលោក សុខ សប្បាយណា ប្រធានលេខាធិការដ្ឋាន ក្រុមប្រតិបត្តិ នៃព្រឹត្តិការណ៍អង្គរសង្ក្រាន្ដ។
                    </p>
                </center>
            </div>
            <div class="max-w-xl border py-6 rounded-md">
                <center>
                    <img src="/assets/artwork-1.png" alt=""​ width="180" class="py-6">
                    <h5 class="text-orange-500 text-xl font-semibold pb-3">
                        ឈ្មោះកម្មវិធី
                    </h5>
                    <p class="text-gray-500 px-4">
                        បុណ្យចូលឆ្នាំប្រពៃណីខ្មែរយើងនឹងឈានចូលមកដល់នៅពេលខាងមុខនេះ ពោលនៅថ្ងៃទី១៤-១៦ ខែមេសា ឆ្នាំ២០១៨។ បើតាមការឱ្យដឹងពីលោក សុខ សប្បាយណា ប្រធានលេខាធិការដ្ឋាន ក្រុមប្រតិបត្តិ នៃព្រឹត្តិការណ៍អង្គរសង្ក្រាន្ដ។
                    </p>
                </center>
            </div>
            <div class="max-w-xl border py-6 rounded-md">
                <center>
                    <img src="/assets/artwork-1.png" alt=""​ width="180" class="py-6">
                    <h5 class="text-orange-500 text-xl font-semibold pb-3">
                        ឈ្មោះកម្មវិធី
                    </h5>
                    <p class="text-gray-500 px-4">
                        បុណ្យចូលឆ្នាំប្រពៃណីខ្មែរយើងនឹងឈានចូលមកដល់នៅពេលខាងមុខនេះ ពោលនៅថ្ងៃទី១៤-១៦ ខែមេសា ឆ្នាំ២០១៨។ បើតាមការឱ្យដឹងពីលោក សុខ សប្បាយណា ប្រធានលេខាធិការដ្ឋាន ក្រុមប្រតិបត្តិ នៃព្រឹត្តិការណ៍អង្គរសង្ក្រាន្ដ។
                    </p>
                </center>
            </div>
        </div>
    </div>
</div>